.a{
	position: absolute;
	top:10vh;	
	display: flex;
	
}

.a h1{
	text-decoration: underline;
	text-align:left;
	margin-left: 2em;
}
.a p{
	max-width: 20em;
	margin-left: 2em;
}
.a h2{
	margin-left: 2em;
	text-decoration: underline;
}
.a h3{
	margin-left: 2em;
}
.a .span{
	margin-left: 3em;
	max-width: 260px;
}
.gg2{
	
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	background-image: url(../images/page-2.jpg);
	background-size: cover;
	width: 100vw;
	height: 90vh;
	background-position: top;
	
}
.imggg{
	align-self:center;
	border-radius: 1em;
	max-width: 250px;
	height: 290px;
	margin-left: 2em;	
}